# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
data/bond_numb.txt
data/bond_numb1.txt
start_time.txt
data/pos1.txt
data/pos.txt
data/phi.txt
data/periodic_z.txt
data/periodic_xy.txt
data/move.txt
data/monbd.txt
data/cell_list_q.txt
data/ipxyz.txt
data/energy.txt
data/height.txt
main
data/cell_list_r.txt
data/phi_zx.txt
data/phi_xy.txt
